<!DOCTYPE html>
<html>
  <head>
  </head>
  
  <body>
    <p>
      There is a new message from the Ryck's Article contact form.<br>
      The message was sent from <%= "#{ @name }, #{ @email }."%>
    </p>
    
    <p>
    <%= "#{ @message }."%>
  </p>
  </body>
</html>
